<body>
    <div class="center">
      <br>
      <h1 class="center">LIKELYHOOD OF SEVERELY SUFFERING FROM COVID-19</h1>
  
      <form #myForm="ngForm" (ngSubmit)="calculate(myForm)">
  
        <label for="height">Height (cm)</label> <br>
        <input type="number" min="0" [(ngModel)]="cov.height" name="height" required #height="ngModel"><br>
        <label *ngIf="height.touched && !height.valid">Height required, the value must be grater or equal zero.</label><br>
        <label>Weight (kg)</label><br>
        <input type="number" min="0" [(ngModel)]="cov.weight" name="weight" required #weight="ngModel"><br>
        <label *ngIf="weight.touched && !weight.valid">Weight required, the value must be grater or equal zero.</label><br>
        <label>Age</label><br>
        <input type="number" min="0" [(ngModel)]="cov.age" name="age" required #age="ngModel"><br>
        <label *ngIf="age.touched && !age.valid">Weight required, the value must be grater or equal zero.</label><br>
        <input type="radio" name="gender" value="Man" [(ngModel)]="cov.gender" ngModel required #myGender="ngModel" />
        <label> Man</label>
        <br>
        <input type="radio" name="gender" value="Women"  [(ngModel)]="cov.gender" ngModel required #myGender="ngModel" />
        <label> Woman</label>
  
        <br>
        <button class="btn red" type="submit" [disabled]="!myForm.valid">Calculate</button><br>
      </form> <br />
      <!-- <img src="assets/img/bmi.png" alt="image" class="responsive" > -->
    </div>
    <div *ngIf='showResult' class="center">
      
      <label>{{cov.comment}}</label><br>
    
  
    </div>
  
   
  
  </body>
