<body>
    <div class="center">
      <br>
      <h1 class="center">BMI AND OTHER PARAMETERS CALCULATION</h1>
  
      <form #myForm="ngForm" (ngSubmit)="calculateParams(myForm)">
  
        <label for="height">Height (cm)</label> <br>
        <input type="number" min="0" max="250" [(ngModel)]="bmi.height" name="height" required #height="ngModel"><br>
        <label *ngIf="height.touched && !height.valid">Height required, the value must be grater or equal zero.</label><br>
        <label>Weight (kg)</label><br>
        <input type="number" min="0" max="400" [(ngModel)]="bmi.weight" name="weight" required #weight="ngModel"><br>
        <label *ngIf="weight.touched && !weight.valid">Weight required, the value must be grater or equal zero.</label><br>
        <input type="radio" name="gender" value="Man" [(ngModel)]="bmi.gender" ngModel required #myGender="ngModel" />
        <label> Man</label>
        <br>
  
        <input type="radio" name="gender" value="Women" [(ngModel)]="bmi.gender" ngModel required #myGender="ngModel" />
        <label> Women</label>
  
        <br>
        <button class="btn red" type="submit" [disabled]="!myForm.valid">Calculate</button><br>
      </form> <br />
      <!-- <img src="assets/img/bmi.png" alt="image" class="responsive" > -->
    </div>
    <div *ngIf='showResult' class="center">
      <label>BMI: {{bmi.cos|number : '1.2-2'}}</label><br>
      <label>Fat-free mass: {{bmi.LBM|number: '1.2-2'}} kg</label><br>
      <label>Bone weight: {{bmi.BM|number : '1.2-2'}} kg</label><br>
      <label>Muscle mass: {{bmi.SM|number : '1.2-2'}} kg</label><br>
      <label>Mass of water: {{bmi.TBW|number : '1.2-2'}} kg</label><br>
  
      <!-- <div class="chart-wrapper">
        <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas> -->
    <!-- </div> -->
    </div>
    <!-- <app-line-chart></app-line-chart> -->
    <img src="assets/img/BMI.png" 
    alt="image" class="center" 


  
>  
  
  </body>