<body>
    <div class="center">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <br>
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla <br>
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in <br>
            culpa qui officia deserunt mollit anim id est laborum.<br>
        </p>
        <img src="assets/img/pandaHi.png" 
            alt="image" class="responsive" 
            style="float:left"
            width="20%" height="20%"
        >  
    </div>
</body>

