<body>
    <div class="center">
        <p>
            Welcome to our application! <br>
            You can find here many different calculators. Each tab has a different one. <br>
            - BMI – where you can calculate your BMI, fat-free mass, bone weight, muscle mass and mass of water<br>
            - Kcal requirement – where you can calculate your daily caloric requirement<br>
            - Water - where you can calculate your daily water requirement<br>
            - Sugar – where you can check if your glucose level is normal<br>
            - Type 2 diabetes – this is a test where you can see if you are at risk of developing type 2 diabetes<br>
            - Insulin resistance - where you can calculate the risk of developing insulin resistance<br>
            - Blood pressure - where you can check if your blood pressure is normal<br>
            - Covid 19 – where you can calculate the probability of getting seriously ill with covid<br>
            - Drug doses – where you can calculate the right dose of the drug for the child<br>
            - Body shape - where you can calculate the shape of your figure<br>
            - Basic parameters - where you can calculate your BMI, caloric and water requirement<br>

        </p>
        <img src="assets/img/pandaHi.png" 
            alt="image" class="responsive" 
            style="float:left"
            width="20%" height="20%"
        >  
    </div>
</body>

